@import "tailwindcss";

/* @supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
